* {
  margin: 0;
  padding: 0;
}
body {
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1000px;
  background: #e4f9f5;
  margin: 0 auto;
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #11999e;
}
.profile {
  width: 100px;
  height: 120px;
  border: 3px solid #fff;
  border-radius: 50%;
  float: left;
}
.header-bio {
  float: left;
  padding: 30px;
}
.clear {
  clear: both;
}
hr {
  width: 100%;
  border: 3px solid black;
  border-bottom: none;
  margin: 20px auto;
}
.hr {
  width: 100%;
  border: 1px solid black;
  border-bottom: none;
  margin: 20px auto;
}
.contact {
  float: right;
  padding: 30px;
}
.contact ul {
  list-style-type: none;
}
.contact ul li {
}
.contact ul li a {
  text-decoration: none;
  color: teal;
  font-weight: bold;
}
.contact ul li a:hover {
  text-decoration: underline;
  color: tomato;
}

/* personal information */
.left {
  width: 30%;
  float: left;
}
.right {
  width: 70%;
  float: right;
}

.right .left {
  width: 50%;
  float: left;
}
.right .right {
  width: 50%;
  float: right;
}
footer {
  background: #000;
  padding: 10px;
}
footer .social {
  width: 30%;
  margin: -10px auto;
}
footer .social ul {
  list-style-type: none;
  margin-left: 20px;
  box-sizing: border-box;
}
footer .social ul li {
  float: left;
}
footer .social ul li a {
  display: inline-block;
  margin: 18px 12px;
  margin-right: 17px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
footer .copy p {
  width: 100%;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
